<!-- /templates/users/password_reset_otp.html -->
{% extends 'pages/base.html' %}
{% load form_tags %}

{% block title %}Verify OTP{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Verify OTP</h2>
                </div>
                <div class="card-body">
                    <form method="POST" id="otpVerificationForm" action="{% url 'password_reset_otp_verify' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="otp">Enter OTP</label>
                            <input type="text" name="otp" id="otp" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Verify OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the message modal -->
{% include 'users/message_modal.html' %}
{% endblock %}