<!-- /templates/users/password_reset.html -->
{% extends 'pages/base.html' %}
{% load form_tags %}  <!-- Load the custom template filter -->

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Reset Password</h2>
                </div>
                <div class="card-body">
                    <form method="POST" id="passwordResetForm" action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field|add_class:"form-control" }}
                                {% if field.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ field.errors|striptags }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">Set New Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the message modal -->
{% include 'users/message_modal.html' %}
{% endblock %}